      <header>
        <h1>Serena Fabris</h1>
	<p>{{ site.locales[page.locale].translation }} &#8226; {{ site.locales[page.locale].reviewing }} &#8226; {{ site.locales[page.locale].proofreading }} &#8226; {{ site.locales[page.locale].transcription }}</p>
      </header>
      <div id="chooseLanguage">
	<ul>
	   <li><a href="/{{ page.current_page }}"><img alt="us flag" src="{{ site.locales[page.locale].image_dir }}/flags/png/us.png"/></a></li>
	   <li><a href="/it/{{ page.current_page }}"><img alt="italian flag" src="{{ site.locales[page.locale].image_dir }}/flags/png/it.png"/></a></li>
	</ul>
      </div>
      <div id="banner">
          <ul>
            <li><a href="index.html" class="button">{{ site.locales[page.locale].home }}</a></li>
            <li><a href="services.html" class="button">{{ site.locales[page.locale].services }}</a></li>
            <li><a href="contact.html" class="button">{{ site.locales[page.locale].contact }}</a></li>
            <li><a href="about.html" class="button">{{ site.locales[page.locale].about }}</a></li>
          </ul>
      </div><!-- end banner -->
