<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        <p>
	  In 2008, I started to work as freelance translator, reviewer, proofreader, and Language Quality Assessment (LQA) specialist in these language pairs: <b>Portuguese</b>(pt-br), <b>English</b>(uk-us), <b>French</b>, and <b>Spanish</b> to <b>Italian</b>.
  </p>
  <p>
While starting my career in the world of translation, I also worked in the administration department of various companies, both in Italy and in Portugal, where I lived during many years. Thanks to these opportunities, I had the chance to build up a professional knowledge in the fields of logistics, finance and accounting - which are now part of my expertise in technical translation and reviewing.  </p>

 
<p>
Here is quick information about my educational background:
</p>
<p>
In 2007, I took my <b>Master’s Degree in Conference Interpreting and Translation</b> (Italian, French, Spanish) at the university of Trieste.
<p>
When I moved to Portugal, in 2009, I studied Portuguese Language and Culture at the <b>University of Coimbra</b>, then passed the <b>DAPLE exam of Instituto Camões</b> in Lisbon.
</p>
<p>
I also decided to specialize in Business French taking the <b>Diplôme supérieur de français commercial</b> in the Chamber of Commerce of Paris. Well, actually I’ve never stopped looking for opportunities to improve and acquire new professional language skills - so now I’m attending a <b>Specialist Master's Programme in Translation for Publishing</b> from English to Italian in Turin. </p>
      <footer>
      </footer>
    </div>
    {% include bottom.html %}
  </body>
</html>