<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
	  <div class="contactIntro">
		{{ site.locales[page.locale].contact_intro }}:
          </div> 
	  <ul>
            <li><a href="mailto:info@serenafabris.eu">info@serenafabris.eu</a></li>
	    <li><a href="http://www.linkedin.com/pub/serena-fabris/30/440/535">LinkedIn</a></li>
	    <li><a href="http://www.translatorscafe.com/cafe/member130814.htm">Translators Cafe</a></li>
	    <li><a href="http://www.proz.com/profile/1378231">Proz.com</a></li>
            <li>Skype: serena80ts</li>
          </ul>
      </section>
      <footer>
      </footer>
    </div>
    {% include bottom.html %}
  </body>
</html>
