<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section class="mainSection">
	<div class="subsection">
            <img id="pass" src="{{ site.locales[page.locale].image_dir }}/pass.png" alt="pass photo" />
	    <div id="slogan">{{ site.locales[page.locale].slogan }}</div>
        </div>
        <h3>{{ page.language_combinations }}</h3>
        <div class="subsection">	
            <div class="srcLang">
              <img src="{{ site.locales[page.locale].image_dir }}/rf/fr.png" class="srcFlag" alt="flag france" />
              <div class="srcLangDesc">{{ page.french }}</div>
	    </div> 
            <div class="srcLang">
              <img src="{{ site.locales[page.locale].image_dir }}/rf/es.png" class="srcFlag" alt="flag spain" />
              <div class="srcLangDesc">{{ page.spanish }}</div>
	    </div> 
            <div class="srcLang">
              <img src="{{ site.locales[page.locale].image_dir }}/rf/br.png" class="srcFlag" alt="flag brazil" />
              <div class="srcLangDesc">{{ page.portuguese }}</div>
	    </div> 
            <div class="srcLang">
              <img src="{{ site.locales[page.locale].image_dir }}/rf/pt.png" class="srcFlag" alt="flag portugal" />
              <div class="srcLangDesc">{{ page.portuguese }}</div>
	    </div> 
            <div class="srcLang">
              <img src="{{ site.locales[page.locale].image_dir }}/rf/uk.png" class="srcFlag" alt="flag uk" />
              <div class="srcLangDesc">{{ page.english }}</div>
	    </div> 
            <div class="srcLang">
              <img src="{{ site.locales[page.locale].image_dir }}/rf/us.png" class="srcFlag" alt="flag us" />
              <div class="srcLangDesc">{{ page.english }}</div>
	    </div> 
            <div class="arrow">&rarr;</div>
            <div class="srcLang">
              <img src="{{ site.locales[page.locale].image_dir }}/rf/it.png" class="srcFlag" alt="flag italy" />
              <div class="srcLangDesc">{{ page.italian }}</div>
	    </div> 

        </div>
        {% if page.locale == "en" %}
         <div class="subsection">
        <h3>{{ site.locales[page.locale].services }}</h3>
        {{ content }}
      </div>
      {% endif %}
      </section>
      <footer>
      </footer>
    </div>
    {% include bottom.html %}
  </body>
</html>
