<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section class="mainSection">
        <h3>{{ site.locales[page.locale].fields_of_specialization }}</h3>
        <ul>
	   <li>{{ site.locales[page.locale].commercials }}</li>
	   <li>{{ site.locales[page.locale].commerce }}</li>
	   <li>{{ site.locales[page.locale].economics_and_finance }}</li>
	   <li>{{ site.locales[page.locale].law_and_legal }}</li>
	   <li>{{ site.locales[page.locale].it_and_web_content }}</li>
	   <li>{{ site.locales[page.locale].public_sector }}</li>
	   <li>{{ site.locales[page.locale].civil_and_mechanical_engineering }}</li>
	   <li>{{ site.locales[page.locale].transport }}</li>
	   <li>{{ site.locales[page.locale].journalism }}</li>
	   <li>{{ site.locales[page.locale].tourism_and_travel }}</li>
	   <li>{{ site.locales[page.locale].fashion_and_apparel }}</li>
	   <li>{{ site.locales[page.locale].food_and_oenology }}</li>
	   <li>{{ site.locales[page.locale].culinary_arts }}</li>
	   <li>{{ site.locales[page.locale].literature }}</li>
        </ul>
        <h3>{{ site.locales[page.locale].types_of_translations }}</h3>
        <ul>
	   <li>{{ site.locales[page.locale].company_letters }}</li>
	   <li>{{ site.locales[page.locale].minutes_of_meetings }}</li>
	   <li>{{ site.locales[page.locale].business_contracts }}</li>
	   <li>{{ site.locales[page.locale].by_laws }}</li>
	   <li>{{ site.locales[page.locale].company_brochures }}</li>
	   <li>{{ site.locales[page.locale].touristic_brochures_and_websites }}</li>
	   <li>{{ site.locales[page.locale].marketing_campain_scripts }}</li>
	   <li>{{ site.locales[page.locale].certificates_and_letters_of_request }}</li>
	   <li>{{ site.locales[page.locale].articles_and_press_releases }}</li>
	   <li>{{ site.locales[page.locale].industrial_automation_technical_manuals }}</li>
	   <li>{{ site.locales[page.locale].user_manuals_and_installation_instructions }}</li>
	   <li>{{ site.locales[page.locale].product_data_sheets }}</li>
	   <li>{{ site.locales[page.locale].novels_and_comic_books }}</li>
        </ul>
	<h3>{{ page.rates }}</h3>
	<a href="{{ page.rates_pdf }}">{{ page.download_rates }}</a>
 <!-- {{ 'Hello world' | replace: 'Hello', 'Hi' }} -->
  </div>
  <div class="spacer" style="clear: both;" />
      </section>
      <footer>
      </footer>
    </div>
    {% include bottom.html %}
  </body>
</html>
